<?xml version="1.0"?>
<config>
  <modules>
    <Vubla_Search>
      <version>1.0.0</version>
    </Vubla_Search>
  </modules>
  <frontend>
    <routers>
      <vubla>
        <use>standard</use>
        <args>
          <module>Vubla_Search</module>
          <frontName>vubla</frontName>
        </args>
      </vubla>
    </routers>
    <layout>
      <updates>
	<vubla>
	  <file>vubla.xml</file>
	</vubla>
      </updates>
    </layout>
  </frontend>
  <global>
<!--    <controllers>
      <catalogSearch>
	<rewrite>
	  <resultController>Vubla_Search_controllers_resultController</resultController>
	  <advancedController>Vubla_Search_controllers_resultController</advancedController>
	  <termController>Vubla_Search_controllers_resultController</termController>
	</rewrite>
      </catalogSearch>
    </controllers>
-->
    <helpers>
      <catalogsearch>
	<rewrite>
	  <data>Vubla_Search_Helper_Data</data>
	</rewrite>
      </catalogsearch>      
      <vubla>
	<class>Vubla_Search_Helper</class>
      </vubla>
    </helpers>
    <blocks>
      <vubla>
	<class>Vubla_Search_Block</class>
      </vubla>
    </blocks>
  </global>
</config>
