<?xml version="1.0"?>

<config>
    <modules>
        <Vubla_Search>
            <version>1.2.0</version>
        </Vubla_Search>
    </modules>
    <global>
        <helpers>
            <vubla>
                <class>Vubla_Search_Helper</class>
            </vubla>
        </helpers>
        <blocks>
            <vubla>
                <class>Vubla_Search_Block</class>
            </vubla>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Vubla_Search_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <!--Magento kan ikke altid finde ud af hvad den vil have i uppercase -->
            <catalogSearch_resource>
                <rewrite>
                    <fulltext_collection>Vubla_Search_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogSearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>Vubla_Search_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
            <catalogSearch_mysql4>
                <rewrite>
                    <fulltext_collection>Vubla_Search_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogSearch_mysql4>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>Vubla_Search_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
            <vubla>
                <class>Vubla_Search_Model</class>
                <resourceModel>vubla_resource</resourceModel>
            </vubla>
            <vubla_resource>
                <class>Vubla_Search_Model_Resource</class>
            </vubla_resource>
        </models>
        <resources>
        <vubla_setup>
            <setup>
                <module>Vubla_Search</module>
                <class>Vubla_Search_Model_Resource_Setup</class>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
        </vubla_setup>
    </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Vubla_Search>
                    <files>
                        <default>Vubla_Search.csv</default>
                    </files>
                </Vubla_Search>
            </modules>
        </translate>
        <layout>
             <updates>
                  <vublasearch>
                        <file>vublasearch.xml</file>
                  </vublasearch>
             </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Vubla_Search>
                    <files>
                        <default>Vubla_Search.csv</default>
                    </files>
                </Vubla_Search>
            </modules>
        </translate>
    </adminhtml>
</config>